<title>My Express App</title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  </head>