<!Doctype html >
<html lang="en">
<head>
<% include partials/head %> 
</head>
<body>

         <% include partials/header %> 


    <footer class="footer">
        <% include partials/footer %>
    </footer>
    
</body>
</html>